<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Halaman Input
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <center>
    <ion-input placeholder="Judul" [(ngModel)]="Judul"></ion-input>
    <ion-input placeholder="Isi" [(ngModel)]="Isi"></ion-input>
    <ion-input placeholder="Nilai" [(ngModel)]="Nilai"></ion-input>
    <ion-input type="date" placeholder="Tanggal" [(ngModel)]="Tanggal"></ion-input>
  
    <ion-fab horizontal="center" slot="fixed">
      <ion-fab-button (click)="TambahFoto()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-button (click)="uploadFoto()" style= "margin-top: 100px; margin-bottom: 50px;">Simpan Note</ion-button>

    <ion-list>
      <ion-item *ngFor="let data of isiData | async">
        <ion-label>
          <h1><b>{{data.judul}}</b></h1><br>
          <p>{{data.isi}}</p><br>
          <p>{{data.nilai}}</p><br>
          <p>{{data.tanggal}}</p><br>
          <ion-button slot="end" (click)="openDetail(data.judul, data.isi, data.nilai, data.tanggal, data.foto)">DETAIL</ion-button>
        </ion-label>
      </ion-item>
    </ion-list>
  </center>
</ion-content>
